primary_back/src/main/resources/schemas/deletePerson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ifmo.ru/soa/lab4/primary_back/data/gen" elementFormDefault="qualified">
    <xs:element name="deletePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
