primary_back/src/main/resources/schemas/getHeightSum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.ifmo.ru/soa/lab4/primary_back/data/gen" elementFormDefault="qualified">
   <xs:element name="getHeightsSumRequest">
   </xs:element>

    <xs:element name="getHeightsSumResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server_response" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
